<div class="heading">
    <fa-icon [icon]="['fas', 'angle-down']"></fa-icon>
    <span>Variable Rates</span>
</div>

<div class="forms-container">
    <form class="flex-container">
        <fieldset class="flex-item">
            <legend>Item Name</legend>
            <input id="itemName" type="text" value="Hotels" autocomplete>
        </fieldset>
        <fieldset class="flex-item">
            <legend>Item Rate</legend>
            <input id="itemRate" type="number" placeholder="Variable" autocomplete>
        </fieldset>
    </form>
    <form class="flex-container">
        <fieldset class="flex-item">
            <legend>Item Name</legend>
            <input id="itemName" type="text" value="Hotels" autocomplete>
        </fieldset>
        <fieldset class="flex-item">
            <legend>Item Rate</legend>
            <input id="itemRate" type="number" placeholder="Variable" autocomplete>
        </fieldset>
    </form>
    <form class="flex-container">
        <fieldset class="flex-item">
            <legend>Item Name</legend>
            <input id="itemName" type="text" value="Hotels" autocomplete>
        </fieldset>
        <fieldset class="flex-item">
            <legend>Item Rate</legend>
            <input id="itemRate" type="number" placeholder="Variable" autocomplete>
        </fieldset>
    </form>
</div>