<div class="sidebar-container">
    <h2 id="logo">
        <span>human<fa-icon [icon]="['fas', 'circle']" style="font-size: 4px; margin-right: 2px; margin-left: 2px;"></fa-icon> <fa-icon [icon]="['fas', 'circle']" style="font-size: 6px; margin-right: 2px;"></fa-icon> <fa-icon [icon]="['fas', 'circle']" style="font-size: 8px;"></fa-icon></span><br>
        <span>manager</span>
    </h2>
    <p class="sidebar-item">
        <fa-icon class="sidebar-icon" [icon]="['fas', 'book']" [styles]="{'stroke': 'white', 'color': 'green'}"></fa-icon>
        <span class="sidebar-text">Dashboard</span>
    </p>
    <p class="sidebar-item">
        <fa-icon class="sidebar-icon" [icon]="['fas', 'user']"></fa-icon>
        <span id="staff-record" class="sidebar-text">Staff Record</span>
        <fa-icon id="angle-down" [icon]="['fas', 'angle-down']"></fa-icon>
    </p>
    <p class="sidebar-item">
        <fa-icon class="sidebar-icon" [icon]="['far', 'calendar-alt']"></fa-icon>
        <span class="sidebar-text">Payroll</span>
    </p>
    <p id="leave" class="sidebar-item">
        <fa-icon class="sidebar-icon" [icon]="['fas', 'suitcase']"></fa-icon>
        <span class="sidebar-text">Leave</span>
    </p>
    <p class="sidebar-item">
        <fa-icon class="sidebar-icon" [icon]="['fas', 'copyright']"></fa-icon>
        <span class="sidebar-text">Performance</span>
    </p>
    <p class="sidebar-item">
        <fa-icon class="sidebar-icon" [icon]="['fas', 'question-circle']"></fa-icon>
        <span class="sidebar-text">Help</span>
    </p>
</div>