.sidebar-container {
    padding-left: 14%;
    padding-top: 1px;
}

#logo {
    margin-bottom: 20%;
}

.sidebar-item {
    padding-left: 5%;
    margin-bottom: 30px;
}

.sidebar-item#leave {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 3px 0 0 3px;
    padding-top: 9px;
    padding-bottom: 9px;
}

.sidebar-icon {
    margin-right: 18px;
}

.sidebar-text, #angle-down {
    font-weight: lighter;
}

#staff-record {
    margin-right: 30%;
}